
@{
}
<form method="post" asp-controller="Order" asp-action="Create">

    <label>Product</label>
    <input id="product" placeholder="Product" name="Product" />
    <label>Price</label>
    <input id="price" placeholder="Price" name="Price" />
    <label>Quantity</label>
    <input id="qty" placeholder="Quantity" name="Quantity" />
    <button type="submit">Submit</button>
</form>